body {
    padding: 0px;
    margin: 0px;
}

main {
    padding: 16px;

}

footer {
    padding: 15px 24px;
    background-color: rgb(68, 128, 63);
}

img {
    height: 200px;
}

nav {
    border: 1px solid black;
    background-color: #E0720B;
    padding: 15px 24px;
}

nav>a {
    color: white;
}

a {
    text-decoration: none;
}

h3>a {
    color: rgb(68, 128, 63);
}

.recipe-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
}

.ingredients tr:nth-child(even) {
        background-color: rgb(211, 209, 209);
}
